*{
	padding: 0;
	margin: 0;
}

.tableSidebar{
	width: 303px;
	height: 700px;
	padding: 3px;
	box-shadow: 0 0 5px;
	position: relative;
	background-color: white;
}

.aSidebar{
	text-decoration: none;
	font-size: 20px;
	font-family: arial;
	color: white;
	position: relative;
}

.aSidebar:hover{
	color: #cce6ff;
}

.tdSidebar{
	background-color: #004d99;
	text-align: center;
	border-radius: 4px;
	width: 303px;
	padding: 10px;
	position: relative;
}