*{
	margin: 0;
	padding: 0;
}

.footer{
	height: 50px;
    width: 100%;
    background-color: #003366;
    position: relative;
    box-shadow: 0 0 5px;
}

.footer .footerContent{
	font-family: arial;
	font-size: 20px;
	color: white;
	text-align: center;
}